<div class="header">
  <div class="header__left">
    <mat-icon class="header__icon">menu</mat-icon>
    <img class="header__logo" src="/assets/logo.svg" alt="youtube logo" />
  </div>

  <div class="header__middle">
    <input class="header__search" type="text" placeholder="Search" />
    <mat-icon class="header__icon header__searchBtn">search</mat-icon>
  </div>

  <div class="header__right">
    <mat-icon class="header__icon">video_call</mat-icon>
    <mat-icon class="header__icon">apps</mat-icon>
    <mat-icon class="header__icon">notifications</mat-icon>
    <img src="../../../assets/avatar.jpg" class="mat-card-avatar" />
  </div>
</div>
