<app-header></app-header>
<div class="app">
  <app-sidebar class="sidebar"></app-sidebar>
  <div class="streams">
    <div class="streams__info">
      <div class="streams__left">
        <img src="/assets/access_point.jpg" alt="youtube live" />
        <div class="left__data">
          <h2>Live</h2>
          <p>13.8M Subscribers</p>
        </div>
      </div>
      <div class="streams__right">
        <button class="streams__btn">Subscribe</button>
      </div>
    </div>

    <div class="streams__nav">
      <button [ngClass]="[!about ? 'active' : '']" (click)="about = false">
        Home
      </button>
      <button [ngClass]="[about ? 'active' : '']" (click)="about = true">
        About
      </button>
    </div>

    <div *ngIf="!about" class="streams__wrapper">
      <h2 class="streams__title">Live Now</h2>
      <div class="streams__videos">
        <app-video
          title="Become a web developer in 10 minutes | 2019/2020"
          timestamp="3 days ago"
          channel="VueJs Ninja"
          views="2.3M views"
          image="https://i.ytimg.com/vi/dfB0qmJo1eM/hqdefault_live.jpg"
          live="true"
          [routerLink]="['/events', 'videoId']"
        ></app-video>

        <app-video
          title="Singapor Premier League"
          timestamp="1 days ago"
          channel="1 Play Sport"
          views="100k views"
          image="https://i.ytimg.com/vi/BaoYEHeLqmU/hqdefault_live.jpg"
          live="true"
          [routerLink]="['/events', 'videoId']"
        ></app-video>

        <app-video
          title="Best Easter Worship Song 2020"
          timestamp="Streamed 1 day ago"
          channel="Best Worship Song"
          views="293k views"
          image="https://i.ytimg.com/vi/lKNqt-mF5MM/hqdefault.jpg"
          live="true"
          [routerLink]="['/events', 'videoId']"
        ></app-video>

        <app-video
          title="Become a web developer in 10 minutes | 2019/2020"
          timestamp="3 days ago"
          channel="VueJs Ninja"
          views="2.3M views"
          image="https://i.ytimg.com/vi/dfB0qmJo1eM/hqdefault_live.jpg"
          live="true"
          [routerLink]="['/events', 'videoId']"
        ></app-video>

        <app-video
          title="Singapor Premier League"
          timestamp="1 days ago"
          channel="1 Play Sport"
          views="100k views"
          image="https://i.ytimg.com/vi/BaoYEHeLqmU/hqdefault_live.jpg"
          live="true"
          [routerLink]="['/events', 'videoId']"
        ></app-video>

        <app-video
          title="Best Easter Worship Song 2020"
          timestamp="Streamed 1 day ago"
          channel="Best Worship Song"
          views="293k views"
          image="https://i.ytimg.com/vi/lKNqt-mF5MM/hqdefault.jpg"
          live="true"
          [routerLink]="['/events', 'videoId']"
        ></app-video>
      </div>

      <h2 class="streams__title">Videos</h2>
      <div class="streams__videos">
        <app-video
          title="Become a web developer in 10 minutes | 2019/2020"
          timestamp="3 days ago"
          channel="VueJs Ninja"
          views="2.3M views"
          image="https://i.ytimg.com/vi/dfB0qmJo1eM/hqdefault_live.jpg"
        ></app-video>

        <app-video
          title="Singapor Premier League"
          timestamp="1 days ago"
          channel="1 Play Sport"
          views="100k views"
          image="https://i.ytimg.com/vi/BaoYEHeLqmU/hqdefault_live.jpg"
        ></app-video>

        <app-video
          title="Best Easter Worship Song 2020"
          timestamp="Streamed 1 day ago"
          channel="Best Worship Song"
          views="293k views"
          image="https://i.ytimg.com/vi/lKNqt-mF5MM/hqdefault.jpg"
        ></app-video>

        <app-video
          title="Become a web developer in 10 minutes | 2019/2020"
          timestamp="3 days ago"
          channel="VueJs Ninja"
          views="2.3M views"
          image="https://i.ytimg.com/vi/dfB0qmJo1eM/hqdefault_live.jpg"
        ></app-video>

        <app-video
          title="Singapor Premier League"
          timestamp="1 days ago"
          channel="1 Play Sport"
          views="100k views"
          image="https://i.ytimg.com/vi/BaoYEHeLqmU/hqdefault_live.jpg"
        ></app-video>

        <app-video
          title="Best Easter Worship Song 2020"
          timestamp="Streamed 1 day ago"
          channel="Best Worship Song"
          views="293k views"
          image="https://i.ytimg.com/vi/lKNqt-mF5MM/hqdefault.jpg"
        ></app-video>
      </div>
    </div>

    <div *ngIf="about" class="about__wrapper">
      <div class="about__description">
        <h4>Description</h4>
        <p>
          YouTube Live - Watch great live streams, such as live gaming, live
          music, live sports, and live news.
        </p>
        <hr class="streams__hr" />
        <h4>Links</h4>
        <a href="#">Auto-generated by YouTube</a>
      </div>

      <div class="about__stats">
        <h4>Stats</h4>
        <hr class="streams__hr" />
        <p>Joined Jan 15, 2015</p>
        <hr class="streams__hr" />
        <mat-icon>flag_alt</mat-icon>
      </div>
    </div>
  </div>
</div>
