.sidebarRow {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.rows__icon {
  color: #606060;
  font-size: large !important;
}

.rows__title {
  flex: 1;
  margin: 0 0 0 20px;
  font-size: 12px;
  font-weight: 500;
}

.sidebarRow:hover {
  background-color: lightgray;
  cursor: pointer;
}

.sidebarRow:hover > .rows__icon {
  color: red;
}

.sidebarRow:hover > .rows__title {
  font-weight: bold;
}

.sidebarRow.selected {
  background-color: lightgray;
}

.sidebarRow.selected > .rows__icon {
  color: red;
}

.sidebarRow.selected > .rows__title {
  font-weight: bold;
}