.streams__title {
  margin-left: 5px;
  margin-bottom: 20px;
  font-weight: 400;
}

.streams__videos {
  display: flex;
  flex-wrap: wrap;
}

.streams__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
}

.streams__btn {
  color: white;
  background-color: #c00;
  border: none;
  padding: 10px;
  text-transform: uppercase;
  font-size: large;
  cursor: pointer;
}

.streams__left {
  display: flex;
  align-items: center;
}

.streams__left > img {
  border-radius: 50%;
  margin-right: 30px;
}

.left__data > h2 {
  font-weight: 400;
}

.left__data > p {
  color: #606060;
}

.streams__wrapper,
.about__wrapper {
  padding: 40px 20px;
  background-color: #f1f1f1;
  height: calc(100vh - 385px);
}

.streams__nav {
  margin-left: 80px;
}

.streams__nav > button {
  color: gray;
  margin-right: 10px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 15px;
  background-color: transparent;
  border: none;
  padding: 20px 30px;
  cursor: pointer;
}

.streams__nav > button:hover {
  border-bottom: 3px solid #646464;
  color: #030303;
}

.streams__nav > button:focus {
  border: none;
  border-bottom: 3px solid #646464;
}

.streams__nav > button.active {
  border-bottom: 3px solid #646464;
  color: #030303;
}

.about__wrapper {
  display: flex;
}

.about__description {
  flex: 0.6;
  padding-right: 20px;
}

.about__stats {
  flex: 0.4;
}

.about__wrapper h4 {
  margin: 0 0 40px 0;
  font-weight: 400;
}

.about__wrapper p {
  margin: 10px 0 40px 0;
}

.about__description a {
  text-decoration: none;
  font-size: 13px;
}

.streams__hr {
  height: 1px;
  border: 0;
  background-color: lightgray;
  margin-top: 20px;
  margin-bottom: 20px;
}
