<div class="app">
  <div class="login-page">
    <div class="form">
      <h4>Create New Event</h4>
      <form
        class="login-form"
        #createForm="ngForm"
        (ngSubmit)="submit(createForm)"
      >
        <input
          placeholder="Title"
          required
          minlength="3"
          ngModel
          name="title"
          #title="ngModel"
          id="title"
        />

        <input
          placeholder="Youtube Link"
          required
          minlength="3"
          ngModel
          name="videoId"
          #videoId="ngModel"
          id="videoId"
        />

        <input
          placeholder="Image URL"
          required
          minlength="3"
          ngModel
          name="imgURL"
          #imgURL="ngModel"
          id="imgURL"
        />

        <input
          placeholder="Channel"
          required
          minlength="3"
          ngModel
          name="channel"
          #channel="ngModel"
          id="channel"
        />

        <input
          placeholder="Description"
          required
          minlength="3"
          ngModel
          name="description"
          #description="ngModel"
          id="description"
        />

        <select name="live" [ngModel]="''" #live="ngModel" id="live" required>
          <option value="" selected>Live?</option>
          <option value="true">True</option>
          <option value="false">False</option>
        </select>

        <button
          [style]="
            !createForm.valid || loading
              ? 'background-color: rgb(255, 94, 94);'
              : ''
          "
          type="submit"
          [disabled]="!createForm.valid || loading"
        >
          {{ loading ? "Creating..." : "Create" }}
        </button>
        <p class="message">
          Changed your mind? <a [routerLink]="['/']">Back to home</a>
        </p>
      </form>
    </div>
  </div>
</div>
