.app {
  display: flex;
}

.sidebar {
  flex: 0.2;
}

.event {
  flex: 0.8;
  background-color: #f9f9f9;
  padding-bottom: 0;
  display: flex;
}

.event__left,
.event__right {
  padding: 0 15px;
  margin: 15px 0;
}

.event__left,
.info__left {
  flex: 0.6;
}

.event__right,
.info__right {
  flex: 0.4;
}

.event__info {
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
}

.info__left > h4 {
  font-weight: 500;
  text-transform: uppercase;
}
.info__left > p {
  font-size: 12px;
  color: gray;
  margin-top: 10px;
}

.info__right {
  font-size: 10px;
  color: gray;
}

.info__right span {
  margin-right: 20px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}

.info__icon:hover {
  color: red;
}

.__hr {
  height: 1px;
  border: 0;
  background-color: lightgray;
  margin-top: 10px;
  margin-bottom: 10px;
}

.mat-card-avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  flex-shrink: 0;
  object-fit: cover;
}

.subscribe__btn {
  color: white;
  background-color: #c00;
  border: none;
  padding: 10px;
  text-transform: uppercase;
  font-size: large;
  cursor: pointer;
}

.event__description {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.event__data {
  flex: 0.8;
}

.event__details {
  margin: 10px 0;
}

.event__links {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.event__links a {
  text-decoration: none;
  color: gray;
  text-transform: uppercase;
}

.event__links a:hover {
  color: red;
}

.event__links a:last-child {
  margin-top: 20px;
  color: blue;
  text-decoration: underline;
}

.event__chat {
  border: 1px solid lightgray;
  height: 608px;
  position: relative;
}

.chatHeader {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 15px 25px;
  border-bottom: 1px solid lightgray;
}

.chatHeader__left > span:last-child {
  font-size: 12px;
}

.chatHeader__left > span {
  cursor: pointer;
}

.chatHeader__right > span {
  font-size: 25px;
  cursor: pointer;
}

.chatFooter {
  position: absolute;
  bottom: 0;
  background-color: white;
  width: 100%;
  height: 130px;
}

.chatFooter__wrapper {
  display: flex;
  margin: 15px 20px;
}

.chatFooter__wrapper > .avatar {
  margin-right: 10px;
}

.chatFooter__wrapper > .sendForm {
  flex: 1;
}

.sendForm p {
  color: gray;
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: 400;
}

.sendForm input {
  border: none;
  border-bottom: 1px solid lightgray;
  width: 100%;
  color: gray;
}

.sendForm input:focus {
  outline: none;
  border-bottom: 3px solid #305fe4;
}

.chatFooter__btn {
  display: flex;
  justify-content: space-between;
  margin: 15px 20px;
  color: gray;
}

.chatFooter__btn > .icon {
  cursor: pointer;
}

.mat-card-avatar {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  flex-shrink: 0;
  object-fit: cover;
}

.messages {
  margin: 15px 20px;
}

.message {
  display: flex;
  align-items: center;
  font-size: 12px;
  margin-bottom: 10px;
}

.message > img {
  margin-right: 10px;
}

.message > span > .name {
  color: gray;
  margin-right: 10px;
  text-transform: capitalize;
}

.chatBody {
  overflow-y: scroll;
  height: 68%;
}

.event__videos {
  margin-top: 20px;
}

.badge-pills {
  padding: 10px 0;
}

.badge-pills > span {
  background-color: lightgray;
  color: black;
  padding: 10px 15px;
  margin-right: 10px;
  border-radius: 25px;
  cursor: pointer;
}

.badge-pills > span:first-child {
  background-color: gray;
  color: white;
}

.event__related {
  margin-top: 25px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
