<div class="app">
  <div class="login-page">
    <div class="form">
      <img
        class="header__logo"
        src="/assets/logo.svg"
        alt="youtube logo"
        width="200"
      />
      <form class="login-form">
        <input type="text" placeholder="Fullname" />
        <input type="email" placeholder="Email" />
        <input type="password" placeholder="Password" />
        <button>Create</button>
        <p class="message">
          Already registered? <a [routerLink]="['/login']">Sign In</a>
        </p>
      </form>
    </div>
  </div>
</div>
