<div class="app">
  <div class="login-page">
    <div class="form">
      <img
        class="header__logo"
        src="/assets/logo.svg"
        alt="youtube logo"
        width="200"
      />
      <form
        class="login-form"
        class="login-form"
        #loginForm="ngForm"
        (ngSubmit)="submit(loginForm.value)"
      >
        <input
          type="text"
          placeholder="Fullname"
          required
          minlength="3"
          ngModel
          name="fullname"
          #fullname="ngModel"
          id="fullname"
        />
        <input
          type="email"
          placeholder="Email"
          required
          minlength="3"
          ngModel
          name="email"
          #email="ngModel"
          id="email"
        />
        <input
          type="password"
          placeholder="Password"
          required
          minlength="6"
          ngModel
          name="password"
          #password="ngModel"
          id="password"
        />
        <button
          type="submit"
          [style]="
            !loginForm.valid || loading
              ? 'background-color: rgb(255, 94, 94);'
              : ''
          "
          type="submit"
          [disabled]="!loginForm.valid || loading"
        >
          {{ loading ? "Registering..." : "Register" }}
        </button>
        <p class="message">
          Already registered? <a [routerLink]="['/login']">Sign In</a>
        </p>
      </form>
    </div>
  </div>
</div>
